<?xml version="1.0" encoding="utf-8"?>
<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
  <assembly name="SapSoapCardWriter.Common" />
  <assembly name="SapSoapCardWriter.ServiceContracts" />
  <assembly name="SapSoapCardWriter.ServiceHost" />
  <assembly name="SapSoapCardWriter.BusinessLogic" />
  <container>

    <register type="SapSoapCardWriter.Logger.Logging.ILogger" mapTo="SapSoapCardWriter.Logger.Logging.Log4Net.Logger">
      <lifetime type="ContainerControlledLifetimeManager" />
    </register>

    <register type="SapSoapCardWriter.Common.Configuration.IConfigurationManager`1[[SapSoapCardWriter.Common.ISapSoapCardWriterConfig]]" mapTo="SapSoapCardWriter.Common.Configuration.GenericStandaloneConfigurationManager`1[[SapSoapCardWriter.Common.SapSoapCardWriterConfig]]">
      <lifetime type="ContainerControlledLifetimeManager" />
    </register>

    <register type="SapSoapCardWriter.ServiceContracts.ISapSoapCardWriter" mapTo="SapSoapCardWriter.ServiceHost.SapSoapCardWriter">
      <lifetime type="ContainerControlledLifetimeManager" />
    </register>

    <register type="SapSoapCardWriter.BusinessLogic.ICardWriter" mapTo="SapSoapCardWriter.BusinessLogic.MockCardWriter">
      <lifetime type="ContainerControlledLifetimeManager" />
    </register>

    <register type="SapSoapCardWriter.Common.Encryption.IEncryptor" mapTo="SapSoapCardWriter.Common.Encryption.AES128Encryptor">
      <lifetime type="ContainerControlledLifetimeManager" />
    </register>
  </container>
</unity>
