<?xml version="1.0" encoding="utf-8"?>
<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
  <assembly name="SapSoapCardWriter.Common" />
  <container>

    <register type="SapSoapCardWriter.Common.Configuration.IConfigurationManager`1[[SapSoapCardWriter.Common.ISapSoapCardWriterConfig]]" mapTo="SapSoapCardWriter.Common.Configuration.GenericWebConfigurationManager`1[[SapSoapCardWriter.Common.SapSoapCardWriterConfig]]">
      <lifetime type="ContainerControlledLifetimeManager" />
    </register>

  </container>
</unity>
