<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.serviceModel>
    <services>
      <service name="SapSoapCardWriter.ServiceHost.SapSoapCardWriter" xdt:Locator="Match(name)">
        <host>
          <baseAddresses>
            <add xdt:Transform="RemoveAll" xdt:Locator="Condition(contains(@baseAddress, 'Design_Time_Addresses'))"/>
            <add baseAddress="http://localhost:10132/CardWriterService/" xdt:Transform="Insert"/>
            <add baseAddress="https://localhost:10134/CardWriterService/" xdt:Transform="Insert"/>
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
</configuration>