<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.serviceModel>
    <services>
      <service name="SapSoapCardWriter.ServiceHost.SapSoapCardWriter" xdt:Locator="Match(name)">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:10132/CardWriterService/" xdt:Transform="Insert"/>
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
</configuration>