<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <system.serviceModel>

    <client>

      <endpoint address="http://cosapcrpcs.local.nak.hu:8000/sap/bc/srt/rfc/sap/z_crm_nebih_card_auth/010/z_crm_nebih_card_auth/default" contract="SapNakAuthService.Z_CRM_NEBIH_CARD_AUTH" xdt:Transform="SetAttributes" xdt:Locator="Match(contract)"/>

      <endpoint address="http://cosapcrpcs.local.nak.hu:8000/sap/bc/srt/rfc/sap/z_crm_nebih_card_file_get/010/z_crm_nebih_card_file_get/default" contract="SapNakCardService.Z_CRM_NEBIH_CARD_FILE_GET" xdt:Transform="SetAttributes" xdt:Locator="Match(contract)"/>

      <endpoint address="http://cosapcrpcs.local.nak.hu:8000/sap/bc/srt/rfc/sap/z_crm_nebih_card_wrsucc/010/z_crm_nebih_card_wrsucc/default" contract="SapNakResponseService.Z_CRM_NEBIH_CARD_WRSUCC" xdt:Transform="SetAttributes" xdt:Locator="Match(contract)"/>
    
    </client>

  </system.serviceModel>

</configuration>