<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="SapSoapCardWriterConfig" type="SapSoapCardWriter.Common.SapSoapCardWriterConfig, SapSoapCardWriter.Common" />
  </configSections>

  <unity configSource="Configs\Unity.config" />
  <log4net configSource="Configs\Log4net.config" />
  <SapSoapCardWriterConfig configSource="Configs\SapSoapCardWriterConfig.config" />
  
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding>
                    <security mode="None" />
                </binding>
                <binding name="BasicHttpBinding_INakCardService" />
                <binding name="DEFAULT1" />
                <binding name="DEFAULT" />
                <binding name="DEFAULT2" />
                <binding name="DEFAULT3" />
            </basicHttpBinding>
            <customBinding>
                <binding name="DEFAULT_soap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
                <binding name="DEFAULT_soap121">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
                <binding name="DEFAULT_soap122">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:60108/NakCardService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_INakCardService"
                contract="NakCardService.INakCardService" name="BasicHttpBinding_INakCardService" />
            <endpoint address="http://sapcrdci.local.nak.hu:8000/sap/bc/srt/rfc/sap/z_crm_nebih_card_auth/010/z_crm_nebih_card_auth/default"
                binding="basicHttpBinding" contract="SapNakAuthService.Z_CRM_NEBIH_CARD_AUTH" />
            <endpoint address="http://sapcrdci.local.nak.hu:8000/sap/bc/srt/rfc/sap/z_crm_nebih_card_file_get/010/z_crm_nebih_card_file_get/default"
                binding="basicHttpBinding" contract="SapNakCardService.Z_CRM_NEBIH_CARD_FILE_GET" />
            <endpoint address="http://sapcrdci.local.nak.hu:8000/sap/bc/srt/rfc/sap/z_crm_nebih_card_wrsucc/010/z_crm_nebih_card_wrsucc/default"
                binding="basicHttpBinding" contract="SapNakResponseService.Z_CRM_NEBIH_CARD_WRSUCC" />
            <endpoint address="http://sapcrdci.local.nak.hu:8000/sap/bc/srt/rfc/sap/z_crm_nak_events_list_cardiden/010/z_crm_nak_events_list_cardiden/default"
                binding="basicHttpBinding" bindingConfiguration="DEFAULT2"
                contract="SapNakEventListService.Z_CRM_NAK_EVENTS_LIST_CARDIDEN"
                name="DEFAULT" />
            <endpoint address="http://sapcrdci.local.nak.hu:8000/sap/bc/srt/rfc/sap/z_crm_nak_events_list_cardiden/010/z_crm_nak_events_list_cardiden/default"
                binding="customBinding" bindingConfiguration="DEFAULT_soap121"
                contract="SapNakEventListService.Z_CRM_NAK_EVENTS_LIST_CARDIDEN"
                name="DEFAULT_soap12" />
            <endpoint address="http://sapcrdci.local.nak.hu:8000/sap/bc/srt/rfc/sap/z_crm_nak_event_select_card/010/z_crm_nak_event_select_card/default"
                binding="basicHttpBinding" bindingConfiguration="DEFAULT3"
                contract="SapNakRegisterCardToEvent.Z_CRM_NAK_EVENT_SELECT_CARD"
                name="DEFAULT1" />
            <endpoint address="http://sapcrdci.local.nak.hu:8000/sap/bc/srt/rfc/sap/z_crm_nak_event_select_card/010/z_crm_nak_event_select_card/default"
                binding="customBinding" bindingConfiguration="DEFAULT_soap122"
                contract="SapNakRegisterCardToEvent.Z_CRM_NAK_EVENT_SELECT_CARD"
                name="DEFAULT_soap121" />
        </client>
    </system.serviceModel>
</configuration>