<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="SapSoapCardWriterConfig" type="SapSoapCardWriter.Common.SapSoapCardWriterConfig, SapSoapCardWriter.Common" />
  </configSections>

  <unity configSource="Configs\Unity.config" />
  <log4net configSource="Configs\Log4net.config" />
  <SapSoapCardWriterConfig configSource="Configs\SapSoapCardWriterConfig.config" />
  
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding>
                    <security mode="None">
                    </security>
                </binding>
                <binding name="BasicHttpBinding_INakCardService" />
                <binding name="DEFAULT" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://sapcrdci.local.nak.hu:8000/sap/bc/srt/rfc/sap/z_crm_nebih_card_auth/010/z_crm_nebih_card_auth/default"
                binding="basicHttpBinding" contract="SapNakAuthService.Z_CRM_NEBIH_CARD_AUTH" />
            <endpoint address="http://localhost:60108/NakCardService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_INakCardService"
                contract="NakCardService.INakCardService" name="BasicHttpBinding_INakCardService" />
            <endpoint address="http://sapcrdci.local.nak.hu:8000/sap/bc/srt/rfc/sap/z_crm_nebih_card_file_get/010/z_crm_nebih_card_file_get/default"
                binding="basicHttpBinding" contract="SapNakCardService.Z_CRM_NEBIH_CARD_FILE_GET" />
        </client>
    </system.serviceModel>
</configuration>